.part1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.part2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.part3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.part4 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.con {
  float: left;
  padding-left: 30px;
}

.pic {
float: left;
padding-bottom: 10px;
}

p {
  color: #000000;
  font-size: 20px;
  line-height: 1em;
  text-shadow: 0px 0px 0px #000000;
  text-align: left;
}

.outro
  {
    color: #52527a;
    font-size: 30px;
    line-height: 1em;
    text-shadow: 0px 0px 0px #000000;
    text-align: center;
    font-family: serif;
  }
