footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex: 100%;
  flex: 100%;
  background-position: bottom;
  background-color: #292c2f;
}

.containerf {
  	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  	box-sizing: border-box;
  	width: 100%;
  	text-align: left;
  	font: bold 16px sans-serif;
  	margin-top: 80px;
    display: inline-block;
  	vertical-align: top;
}

.containerf .con1 {
  float: left;
  width:40%;
}

.containerf .con2  {
  float: right;
 width:30%;
 margin-right: 10%;
}
