body {
  margin:0;
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #2C3539;
  position: sticky;
  position: relative -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #008080;
}

.containerf .con2,
.containerf .con1{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
